/*CTRL+SHIFT+R CHROME-ban egy HARD RESET-hez, ha nem frissülne a css változtatás...*/
.ma{
    /*background-color: rgba(rgb(74, 255, 210), 0.5);*/
    background-color: lightblue;
}

.foglalt{
    background-color: red;
}
.egyeni{
    background-color: rgb(255, 146, 82);
}
.gyerek_csop{
    background-color: rgb(124, 255, 124);
}
.felnott_csop{
    background-color: rgb(213, 100, 228);
}
.idos_csop{
    background-color: rgb(31, 160, 153);
}
.nap{
    height: 60px;
    width: 120px;
}
.nap:hover{
    background-color: yellowgreen;
}
table, td{
    border: 1px solid rgb(88, 88, 88);
    text-align:center;
    vertical-align:middle;
    font-family:'Arial', 'Halvetica';
    font-weight:bold;
}
th{
    background-color: rgb(192, 192, 192);
}