.ma{
    /*background-color: rgba(rgb(74, 255, 210), 0.5);*/
    background-color: lightblue;
}

.foglalt{
    background-color: red;
}
.nap{
    height: 60px;
    width: 120px;
}
.nap:hover{
    background-color: yellowgreen;
}
table, td{
    border: 1px solid rgb(88, 88, 88);
    text-align:center;
    vertical-align:middle;
    font-family:'Arial', 'Halvetica';
    font-weight:bold;
}
th{
    background-color: rgb(192, 192, 192);
}