/*INCLUDES ALL THE BOOTSTRAP OVERWRITES AND CUSTOMIZATIONS*/
@font-face {
  font-family: Amatic;
  src: url("../fonts/AmaticSC-Regular.ttf");
  src: url("../fonts/Amatic-Bold.ttf");
}
@font-face{
  font-family: Andika;
  src: url("../fonts/Andika.ttf");
}
body{
    margin-top: 56px;
    margin-bottom: 70px;
    background-image: url("../images/linedpaper_2x.png");
}
.navbar{
    background-color: #b6244f !important;
  }
  .navbar .navbar-toggler{
    background-color: #fbb7c0;
  }
  .navbar .navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar .navbar-brand {
    color: #fbb7c0;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fbb7c0;
  }
  .navbar .navbar-text {
    color: #fbb7c0;
  }
  .navbar .navbar-text a {
    color: #fbb7c0;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fbb7c0; 
  }
  .navbar .navbar-nav .nav-link {
    color: #fbb7c0;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fbb7c0;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #b6244f;
    border-color: #a22147;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fbb7c0;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fbb7c0;
    background-color: #d33a68;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fbb7c0;
    background-color: #a22147;
  }
  .navbar .navbar-toggle {
    border-color: #ee6d94;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #ee6d94;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #fbb7c0;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #fbb7c0;
  }
  .navbar .navbar-link {
    color: #fbb7c0;
  }
  .navbar .navbar-link:hover {
    color: #fbb7c0;
  }
footer{
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
}
.navbar .navbar-collapse .btn-custom{
  background-color: lightpink;
}
.mycard{
  /*font-family: Amatic;*/
  margin-top: 20px;
  box-shadow: 6px 7px 18px 4px rgba(71,43,28,0.75);
}
.customfont{
  font-family: Amatic;
  font-size: 2em;
}
.comment{
  margin-top: 20px;
}
#commenting{
  resize: none;
  margin-top: 20px;
}